:root {
    --redColor: rgb(244, 98, 98);
    --blueColor: rgb(99, 121, 219);
}

@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Regular.woff");
    font-weight: 500
}
@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Bold.woff");
    font-weight: 800
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png")
}

/* Team Flag */
.teamFlag {
    position: absolute; top: 19px;
    width: 132px;
}
#redTeamFlag { left: 23px;  }
#blueTeamFlag { right: 23px; }

/* Team Name */
.teamName {
    position: absolute; top: 16px;
    font-family: "Bicyclette"; font-size: 38px; font-weight: 500;
    letter-spacing: 0.3px;
}
#redTeamName { left: 169px; }
#blueTeamName { right: 169px; }
.teamNameMajor { color: black; }
.teamNameMinor { color: white; }

/* Team Stars */
.teamStars {
    position: absolute;top: 62px;
    display: flex;
}
#redTeamStars { left: 168px; }
#blueTeamStars { 
    right: 168px; 
    flex-direction: row-reverse;
}
/* Team Star Container */
.teamStarContainer {
    display: flex;
    height: 57px;
}
.redTeamStarContainer { margin-right: 10px; }
.blueTeamStarContainer { margin-left: 10px; }
.teamStarContainer:nth-child(2n+1) img { align-self: flex-end; }
/* Team Star */
.starSmall { width: 41px; height: 38px; }
.starLarge { height: 57px; }

/* Logo */
#logo {
    position: absolute; left: 50%; top: 16px;
    transform: translateX(-50%);
}

/* Round Text */
#roundText {
    position: absolute; left: 50%; top: 276px;
    transform: translateX(-50%);
    font-family: "Bicyclette"; font-size: 30px; font-weight: 500;
    letter-spacing: 6px;
    text-indent: 4px;
    color: white;
}

/* Scores */
/* Red / Blue Scores */
.currentScore {
    position: absolute; top: 873px;
    font-family: "Bicyclette"; font-size: 48px; font-weight: 800;
    transition: 500ms ease-in-out;
}
#redCurrentScore {
    left: 25%; 
    transform: translateX(-50%);
    color: var(--redColor);
}
#blueCurrentScore {
    right: 25%;
    transform: translateX(50%);
    color: var(--blueColor);
}
/* Red / Blue Underline */
.currentUnderline {
    position: absolute; top: 932px; 
    width: 294px; height: 7px;
    transition: 500ms ease-in-out;
}
#redCurrentUnderline {
    left: 25%;
    transform: translateX(-50%);
    background-color: var(--redColor);
}
#blueCurrentUnderline {
    right: 25%;
    transform: translateX(50%);
    background-color: var(--blueColor);
}
/* Score Difference */
.scoreDifferenceSection {
    position: absolute; left: 50%; 
    transform: translateX(-50%);
    font-family: "Bicyclette"; 
    color: white;
    transition: 500ms ease-in-out;
}
#scoreDifferenceNumber {
    top: 873px;
    font-size: 60px;
}
#scoreDifferenceText {
    top: 933px;
    font-size: 30px;
}

/* Map Information */
/* Map Information Left Container */
#mapInformationLeftContainer {
    position: absolute; left: 100px; bottom: 10px;
    transform: translateX(-50%);
    border: 3px solid white;
    width: 170px; height: 102px;
    border-radius: 3px;
    overflow: hidden;
    transition: 750ms ease-in-out;
}
#mapInformationLeftContainer > * {
    position: absolute;
    height: 102px;
    background-size: cover;
}
#mapInformationLeftContainerMapBackground {
    width: 100%;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    background-position: center;
}
#mapInformationLeftContainerMapperImage {
    left: 50%; transform: translateX(-50%);
    width: 102px;
    background-image: url("https://a.ppy.sh/8306102");
    opacity: 0;
    transition: 750ms ease-in-out;
}

/* Map Information Right Containers */
.mapInformationRightContainers {
    position: absolute; left: 212px; 
    width: 394px;
    overflow: hidden;
    border-radius: 3px;
}
.mapInformationRightContainers::before {
    content: '';
    position: absolute; left: -3px; top: -3px;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    width: 400px; 
    filter: blur(3px);
    background-size: cover;
}

/* Map Information Right Container Layer */
.mapInformationRightHandSideLayer {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(127,127,127,0.7);
}

/* Map Information Right Container Top */
#mapInformationRightContainer {
    bottom: 53px;
    height: 63px;
    font-family: "Bicyclette"; font-weight: 800; font-size: 19px;
    color: white;
    letter-spacing: 0.15px;
}
#mapInformationRightContainer::before {
    height: 69px;
    background-position: 50% 1.6%;
    filter: blur(2px);
}
/* Map Information Texts */
.mapInformationRightTexts { 
    position: absolute; left: 11px; 
    width: 372px; height: 22.5px;
    overflow: hidden;
}
#mapInformationRightTopText { top: 9px; }
#mapInformationRightBottomText { bottom: 9px; }
#mapInformationRightSongNameDifficultyWrapper, #mapInformationRightArtistWrapper, #mapInformationRightMappedByText, #mapInformationRightMappedByName {
    position: absolute; top: 0;
    overflow: hidden;
    width: 372px; height: 22.5px;
    transition: 750ms ease-in-out;
}
#mapInformationRightMappedByText, #mapInformationRightMappedByName {
    top: -22.5px;
    opacity: 0;
}
#mapInformationRightSongNameDifficulty {
	display: inline-block;
	width: max-content;
}
.mapInformationRightWrap {
    animation: mapInformationRightWrap 12s infinite linear forwards
}
@keyframes mapInformationRightWrap {
    0% { transform: translateX(0%) }
    20% { transform: translateX(0%) }
    80% { transform: translateX(calc(-100% + 372px)); }
    100% { transform: translateX(calc(-100% + 372px)); }
}
/* Map Information Stats */
#mapInformationRightSRandBPM, #mapInformationRightCSandARandOD { 
    position: absolute; display: flex; top: -22.5px;
    transition: 750ms ease-in-out;
}
.mapInformationRightStatsFirstElement { width: 105px; }
.mapInformationRightStatsSecondElement { width: 175px; }

/* Map Information Right Container Bottom */
#mapInformationRightSongProgressContainer {
    bottom: 8px;
    height: 32px;
}
#mapInformationRightSongProgressContainer::before {
    width: 400px; height: 38px;
    background-position: 50% 99%;
}
/* Map Information Progress */
#mapInformationSongProgressSection {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 360px; height: 19px;
}
#mapInformationSongProgressRectangle {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 360px; height: 3px;
    border-radius: 3px;
    background-color: white;
}
#mapInformationSongProgressCircle {
    position: absolute; top: 50%; left: 0;
    transform: translateY(-50%);
    width: 12px; height: 12px;
    border-radius: 12px;
    background-color: white;
    transition: 50ms linear;
}