:root {
    --redColor: rgb(244, 98, 98);
    --blueColor: rgb(99, 121, 219);
}

@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Regular.woff");
    font-weight: 500
}
@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Bold.woff");
    font-weight: 800
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png")
}

/* Team Flag */
.teamFlag {
    position: absolute; top: 19px;
    width: 132px;
}
#redTeamFlag { left: 23px;  }
#blueTeamFlag { right: 23px; }

/* Team Name */
.teamName {
    position: absolute; top: 16px;
    font-family: "Bicyclette"; font-size: 38px; font-weight: 500;
    letter-spacing: 0.3px;
}
#redTeamName { left: 169px; }
#blueTeamName { right: 169px; }
.teamNameMajor { color: black; }
.teamNameMinor { color: white; }

/* Team Stars */
.teamStars {
    position: absolute;top: 62px;
    display: flex;
}
#redTeamStars { left: 168px; }
#blueTeamStars { 
    right: 168px; 
    flex-direction: row-reverse;
}
/* Team Star Container */
.teamStarContainer {
    display: flex;
    height: 57px;
}
.redTeamStarContainer { margin-right: 10px; }
.blueTeamStarContainer { margin-left: 10px; }
.teamStarContainer:nth-child(2n+1) img { align-self: flex-end; }
/* Team Star */
.starSmall { width: 41px; height: 38px; }
.starLarge { height: 57px; }

/* Logo */
#logo {
    position: absolute; left: 50%; top: 16px;
    transform: translateX(-50%);
}

/* Round Text */
#roundText {
    position: absolute; left: 50%; top: 276px;
    transform: translateX(-50%);
    font-family: "Bicyclette"; font-size: 30px; font-weight: 500;
    letter-spacing: 6px;
    text-indent: 4px;
    color: white;
}

/* Scores */
/* Red / Blue Scores */
.currentScore {
    position: absolute; top: 873px;
    font-family: "Bicyclette"; font-size: 48px; font-weight: 800;
    transition: 500ms ease-in-out;
    opacity: 1;
}
#redCurrentScore {
    left: 25%; 
    transform: translateX(-50%);
    color: var(--redColor);
}
#blueCurrentScore {
    right: 25%;
    transform: translateX(50%);
    color: var(--blueColor);
}
/* Red / Blue Underline */
.currentUnderline {
    position: absolute; top: 932px; 
    width: 294px; height: 7px;
    transition: 500ms ease-in-out;
    opacity: 1;
}
#redCurrentUnderline {
    left: 25%;
    transform: translateX(-50%);
    background-color: var(--redColor);
}
#blueCurrentUnderline {
    right: 25%;
    transform: translateX(50%);
    background-color: var(--blueColor);
}
/* Score Difference */
.scoreDifferenceSection {
    position: absolute; left: 50%; 
    transform: translateX(-50%);
    font-family: "Bicyclette"; 
    color: white;
    transition: 500ms ease-in-out;
    opacity: 1;
}
#scoreDifferenceNumber {
    top: 873px;
    font-size: 60px;
}
#scoreDifferenceText {
    top: 933px;
    font-size: 30px;
}

/* Map Information */
/* Map Information Left Container */
#mapInformationLeftContainer { left: 100px; bottom: 10px; }

/* Map Information Right Containers */
.mapInformationRightContainers {
    left: 212px; 
    width: 394px;
}
.mapInformationRightContainers::before { width: 400px; }

/* Map Information Right Container Top */
#mapInformationRightContainer { bottom: 53px; }
/* Map Information Texts */
.mapInformationRightTexts { width: 372px; }
#mapInformationRightSongNameDifficultyWrapper, #mapInformationRightArtistWrapper, #mapInformationRightMappedByText, #mapInformationRightMappedByName {
    width: 372px;
}
@keyframes mapInformationRightWrap {
    0% { transform: translateX(0%) }
    20% { transform: translateX(0%) }
    80% { transform: translateX(calc(-100% + 372px)); }
    100% { transform: translateX(calc(-100% + 372px)); }
}

/* Map Information Right Container Bottom */
#mapInformationRightSongProgressContainer { bottom: 8px; }
#mapInformationRightSongProgressContainer::before { width: 400px; }
/* Map Information Progress */
#mapInformationSongProgressSection { width: 360px; }
#mapInformationSongProgressRectangle { width: 360px; }

/* Chat Display */
#chatDisplay { bottom: 18px; right: 28px; }