:root {
    --redColor: rgb(244, 98, 98);
    --blueColor: rgb(99, 121, 219);
}

/* Chat Display */
#chatDisplay {
    position: absolute;
    opacity: 0.902;
    width: 851px; height: 171px;
    border-radius: 15px;
    transition: 500ms ease-in-out;
}
.chatDisplayMinor { background-color: #282828; }
.chatDisplayMajor { background-color: rgb(215, 215, 215); }
/* Chat Message Container */
.chatMessageContainer {
    display: flex;
    margin: 4px 8px;
    font-family: 'Bicyclette';
    font-weight: 800;
    font-size: 18px;
    transition: 500ms ease-in-out;
}
.chatMessageContainerMinor { color: white; }
.chatMessageContainerMajor { color: black; }
/* Chat Message Time */
.chatMessageTime {
    width: 10%;
    text-align: center;
    transition: 500ms ease-in-out;
}
.chatMessageTimeMinor { color: lightgray; }
.chatMessageTimeMajor { color: rgb(44, 44, 44); }
/* Chat Message Content*/
.chatMessageContent {
    display: flex;
    width: 92%; 
}
.chatMessageUser { 
    min-width: 12%;
    margin-right: 5px;
}
/* Chat User Colours */
.bot{ color: hotpink; }
.left{ color: var(--redColor); }
.right{ color: var(--blueColor); }
.unknown{ color: orangered; }