:root {
    --redTeam: #ff6666;
    --blueTeam: #6379db;
    --banColour: #FF6666;
}

@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Regular.woff");
    font-weight: 500
}
@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Bold.woff");
    font-weight: 800
}

/* Videos */
.backgroundVideo {
    position: absolute; left: 0; top: 0;
}
#backgroundVideoMajorLeague {
    opacity: 0;
    transition: 500ms ease-in-out;
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png")
}

/* Logo */
.logo {
    position: absolute; left: 45px; top: 23px;
    width: 140px;
    transition: 500ms ease-in-out;
    opacity: 1;
}
#logoMajor { opacity: 0; }

/* Round Name */
#roundName {
    position: absolute; right: 45px; top: 40px; 
    font-family: "Bicyclette"; font-weight: 800; font-size: 38px;
    transition: 500ms ease-in-out;
}
.roundNameMinor { color: white; }
.roundNameMajor { color: black; }

/* Team Section */
/* Container */
.teamSection {
    position: absolute; left: 0; 
    border-radius: 0 15px 15px 0;
    width: 605px; height: 332px;
}
#redTeamSection {
    top: 143px;
    background-color: rgba(255, 102, 102, 0.6);
}
#blueTeamSection {
    top: 514px;
    background-color: rgba(102, 102, 204, 0.6);
}
/* Flags */
.teamSectionFlag {
    position: absolute; left: 61px; top: 46px;
    width: 280px; height: 188px;
}
/* Team Name */
.teamName { 
    position: absolute; left: 284px; top: 256px; 
    transform: translateX(-50%);
    color: white;
    width: max-content;
    font-family: "Bicyclette"; font-weight: 800; font-size: 35px;
}

/* Team Stars */
.largeStar {
    position: absolute;
    width: 60px;
}
.smallStar {
    position: absolute;
    width: 39px;
}

/* Team Bans */
/* Team Ban Container */
.teamBanContainer {
    position: absolute; left: 100%; top: 50%;
    transform: translate(-50%, -50%);
    width: 114px; height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Team Bans */
.teamBan {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}
.multipleTeamBan { height: 134px;}
.oneTeamBan { flex-grow: 1; }
/* Team Ban Image */
.teamBanImage {
    position: absolute; top: 0; left: 0;
    width: 100%; height: calc(100% - 42px);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    opacity: 0;
    transition: 500ms ease-in-out;
}
/* Team Ban Layer*/
.teamBanLayer {
    position: absolute; top: 0; left: 0;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.7);
    width: 100%; height: 100%;
}
/* Banned Icon */
.bannedIcon {
    position: absolute; top: calc((100% - 42px) / 2); left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
/* Team Banned Text */
.teamBanText {
    position: absolute; bottom: 0;
    width: 100%; height: 42px;
    background-color: var(--banColour);
    border-radius: 0 0 10px 10px;
    text-align: center;
    color: white;
    font-family: "Bicyclette"; font-weight: 800; font-size: 31px;
    line-height: 42px;
}

/* Red Team Section */
.pickSection {
    position: absolute; left: 750px;
    width: 1125px; height: 332px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#redPickSection { top: 142px; }
#bluePickSection { top: 512px; }
/* Pick Container */
.pickContainer {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    width: calc(100% - 10px);
    margin-right: 5px;
    background-color: #282828;
    border-radius: 10px;
    overflow: hidden;
}
/* Pick Container Background Image */
.pickContainerBackgroundImage {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;
    transition: 500ms ease-in-out
}
/* Pick Container Winner */
.pickContainerWinner {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
}
.pickContainerWinnerRed { background-color: rgba(244, 98, 98, 0.7)}
.pickContainerWinnerBlue { background-color: rgba(102, 102, 204, 0.7)}
/* Pick Container Gradient */
.pickContainerGradient {
    position: absolute; bottom: 0;
    width: 100%; height: 175px;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: none;
}
/* Pick Container Bottom */
.pickContainerBottom {
    position: absolute; bottom: 0;
    width: 100%;
    height: 12px;
}
.pickContainerBottomRed { background-color: var(--redTeam); }
.pickContainerBottomBlue { background-color: var(--blueTeam); }
.pickContainerBottomNone { background-color: #57d2ff; }
/* Pick Container Crown */
.pickContainerCrown {
    position: absolute; left: 50%; top: 10px;
    transform: translateX(-50%);
    display: none;
}
/* Pick Container Text */
.pickContainerText {
    position: absolute; left: 50%; bottom: 14px;
    transform: translateX(-50%);
    color: white;
    font-family: "Bicyclette"; font-weight: 800; font-size: 38px;
}

/* Chat Display */
#chatDisplay { bottom: 28px; left: 28px; }

/* Map Information */
/* Map Information Left Container */
#mapInformationLeftContainer { left: 991px; bottom: 32px; }

/* Currently Picking */
#currentlyPicking {
    position: absolute; left: 901px; top: 887px;
    font-family: "Bicyclette"; font-weight: 800; font-size: 38px;
    opacity: 1;
    animation: currentlyPickingBlinking 4s infinite linear forwards
}
@keyframes currentlyPickingBlinking {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1}
}
/* Map Information Right Containers */
.mapInformationRightContainers {
    left: 1119px; 
    width: 420px;
}
.mapInformationRightContainers::before { width: 430px; }

/* Map Information Right Container Top */
#mapInformationRightContainer { bottom: 75px; }
/* Map Information Texts */
.mapInformationRightTexts { width: 397px; }
#mapInformationRightSongNameDifficultyWrapper, #mapInformationRightArtistWrapper, #mapInformationRightMappedByText, #mapInformationRightMappedByName {
    width: 397px;
}
@keyframes mapInformationRightWrap {
    0% { transform: translateX(0%) }
    20% { transform: translateX(0%) }
    80% { transform: translateX(calc(-100% + 397px)); }
    100% { transform: translateX(calc(-100% + 397px)); }
}

/* Map Information Right Container Bottom */
#mapInformationRightSongProgressContainer { bottom: 30px; }
#mapInformationRightSongProgressContainer::before {
    width: 430px;
}
/* Map Information Progress */
#mapInformationSongProgressSection { width: 385px; }
#mapInformationSongProgressRectangle { width: 385px; }

/* Side Bar */
#sideBar {
    position: absolute; left: 1920px; top: 0;
    width: 250px; height: 1080px;
    background-color: rgb(17, 17, 17);
    font-family: "Bicyclette"; font-weight: 800;
    color: white;
}
.sideBarSection h1 { margin: 20px; }
.sideBarSectionMainText {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.sideBarButtonSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sideBarButton {
    height: 50px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}
.sideBarButton:active {
    background-color: white;
    color: black;
}
/* Tournament Selection Section */
#tournamentSelectionSectionButtons button { width: 210px;  }
/* Next Action Section */
#nextActionSection { 
    border-top: 1px solid white; 
    margin: 25px 0px;
}
#nextActionSectionButtons {
    margin: 0px 20px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#nextActionSectionButtons button { width: 100px; }
/* Mappool Section */
#mappoolSection { border-top: 1px solid white;  }
#mappoolSectionButtons {
    margin: 25px 20px 0 20px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#mappoolSectionButtons button { width: 100px; height: 33px; }

/* Ban Colour Background For Mappool Section Buttons */
.banColourBackground { background-color: var(--banColour)}
.redTeamColor { color: var(--redTeam); }
.blueTeamColor { color: var(--blueTeam); }