@font-face {
    font-family: "Bicyclette";
    src: url("../font/Bicyclette-Bold.woff");
    font-weight: 800
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/sampleBackground.png");
    font-family: "Bicyclette"; font-weight: 800;
}

/* Helper classes */
/* Top / Bottom Text */
.topBottomText {
    position: absolute; 
    font-size: 28px;
    letter-spacing: -0.2px;
}
.textMajor { color: black; }
.textMinor { color: white; }
/* Top / Bottom Bars */
.topBottomBar {
    width: 1872px; height: 3px;
    position: absolute; left: 24px; 
}
.topBottomBarMajor { background-color: black; }
.topBottomBarMinor { background-color: white; }

/* Top Section */
#fiveDigitUnitedStatesCup3Text { left: 24px; top: 15px; }
#topBar { top: 57px; }

/* Bottom Section */ 
#bracketText { left: 24px; bottom: 15px; }
#roundName { right: 24px; bottom: 15px; }
#bottomBar { bottom: 57px; }

/* Team Section */
/* Team Banner */
#teamBanner {
    position: absolute; left: 50%; top: 213px;
    transform: translateX(-50%);
    width: 423px; height: 283px;
    border-radius: 15px;
}
/* Winner Text */
#winnerText {
    position: absolute; left: 50%; top: 528px;
    transform: translateX(-50%);
    font-size: 38px;
    letter-spacing: 8px;
    text-indent: 4px;
}
/* Winner Team Name */
#winnerTeam {
    position: absolute; left: 50%; top: 565px;
    transform: translateX(-50%);
    font-size: 54px;
}

/* Player Section */
#playerSection {
    position: absolute; left: 50%; top: 733px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 572px;
}
.playerText {
    width: 266px;
    font-size: 38px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 6px 10px;
}